
<router-outlet name="catEditOutlet"></router-outlet>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)" style="background-color: #bcab90;margin-top: -8px;width: 14%;">
    <mat-toolbar color="primary">
      <img class="gb_pa gb_ae" alt="" aria-hidden="true" src="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png" srcset="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png 1x, https://www.gstatic.com/images/branding/product/2x/keep_48dp.png 2x " style="width:40px;height:40px"> 
      <h2 style="color: black;margin-left: 7px;"> Keep</h2>
    </mat-toolbar>
    <mat-nav-list>
      <hr>
      <button mat-button (click)="onNotes()" class="myBtn">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="gb_Uc"><path d="M9 21c0 .55.45 1 1 1h4c.55 0 1-.45 1-1v-1H9v1zm3-19C8.14 2 5 5.14 5 9c0 2.38 1.19 4.47 3 5.74V17c0 .55.45 1 1 1h6c.55 0 1-.45 1-1v-2.26c1.81-1.27 3-3.36 3-5.74 0-3.86-3.14-7-7-7zm2.85 11.1l-.85.6V16h-4v-2.3l-.85-.6A4.997 4.997 0 0 1 7 9c0-2.76 2.24-5 5-5s5 2.24 5 5c0 1.63-.8 3.16-2.15 4.1z"></path></svg>
        <span>Notes</span>
      </button>
      <hr>
      <button mat-button (click)="onCategory()" class="myBtn">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="gb_Uc"><path d="M20.54 5.23l-1.39-1.68C18.88 3.21 18.47 3 18 3H6c-.47 0-.88.21-1.16.55L3.46 5.23C3.17 5.57 3 6.02 3 6.5V19c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6.5c0-.48-.17-.93-.46-1.27zM6.24 5h11.52l.83 1H5.42l.82-1zM5 19V8h14v11H5zm11-5.5l-4 4-4-4 1.41-1.41L11 13.67V10h2v3.67l1.59-1.59L16 13.5z"></path></svg>
        <span>Category</span>
      </button>
      <hr>
      <button mat-button (click)="onReminder()" class="myBtn">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="gb_Uc"><path d="M18 17v-6c0-3.07-1.63-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.64 5.36 6 7.92 6 11v6H4v2h16v-2h-2zm-2 0H8v-6c0-2.48 1.51-4.5 4-4.5s4 2.02 4 4.5v6zm-4 5c1.1 0 2-.9 2-2h-4c0 1.1.9 2 2 2z"></path></svg>
        <span>Reminder</span>
      </button>
      <hr>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="margin-bottom: -7px;">
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="">
        <span style="left:33%;position: absolute;top: 18%;color: black;font-size: 17px;">{{applicationTitle}} {{username}}</span>
        <!-- <h2 style="left:40%;position: absolute;top: 18%;color: black;font-size: 18px;">{{username}}</h2> -->
      </div>
      <hr>
      <div class="button" style="left:90%;position: absolute;">
          <i class="fa fa-sign-out" aria-hidden="true" style="color: black;"></i>
        <button mat-button (click)="onLogout()" style="color: black;font-size: 17px;">Logout</button>
      </div>
    </mat-toolbar>
    <hr>
  </mat-sidenav-content>
</mat-sidenav-container>