<!-- Expansion panel to add new notes -->
<div class="reminder-container">
    <mat-expansion-panel class="reminder-expansion-panel" style="margin-left: 20%;">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Create Reminder
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="reminder-form">
            <mat-form-field>
                    <input matInput placeholder="Reminder ID *" name="Id" [(ngModel)]="rem.reminderId">
            </mat-form-field>

            <mat-form-field>
                    <input matInput placeholder="Reminder Name *" name="reminderName" [(ngModel)]="rem.reminderName">
            </mat-form-field>
            <mat-form-field>
              <textarea matInput placeholder="Reminder Description *" name="desc" [(ngModel)]="rem.reminderDescription"></textarea>
            </mat-form-field>
        </div>
        <button mat-button (click)="addReminder()" class="addReminderButton">Create Reminder</button>
    </mat-expansion-panel>
<!-- Label to display any error messages -->
<label class="errorMessage">{{ errMessage }}</label>
</div>

